# {{ ansible_managed }}
version: '{{ traefik_compose_version }}'

services:
  traefik:
    image: traefik
    ports:
{% if traefik_use_swarm %}
      - target: {{ traefik_entrypoint_http_port }}
        published: 80
        protocol: tcp
        mode: host
      - target: {{ traefik_entrypoint_https_port }}
        published: 443
        protocol: tcp
        mode: host
{% else %}
      - "{{ traefik_entrypoint_http_port }}:80"
      - "{{ traefik_entrypoint_https_port }}:443"
{% endif %}
{% if traefik_dashboard_enable and not traefik_use_swarm %}
    expose:
      - {{ traefik_dashboard_entrypoint_port }}
{% endif %}
    networks:
      - {{ traefik_docker_network }}
{% if traefik_dashboard_enable %}
    labels:
      - "traefik.port={{ traefik_dashboard_entrypoint_port }}"
      - "traefik.docker.network={{ traefik_docker_network }}"
      - "traefik.backend=traefik"
      - "traefik.frontend.rule=Host:traefik.{{ traefik_docker_domain | default(inventory_hostname) }}"
      - "traefik.enable=true"
{% endif %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ traefik_directory }}/traefik.toml:/traefik.toml
      - {{ traefik_directory }}/conf.d:/conf.d
{% if traefik_acme_enable %}
      - {{ traefik_directory }}/acme.json:/acme.json
{% endif %}
{% if not traefik_use_swarm %}
    container_name: traefik
    restart: always
{% endif %}

networks:
  {{ traefik_docker_network }}:
    external: true
