# {{ ansible_managed }}

[log]
  level = "{{ traefik_log_level }}"

[entryPoints.web]
  address = ":{{ traefik_entrypoint_http_port }}"
[entryPoints.web-secure]
  address = ":{{ traefik_entrypoint_https_port }}"
{% if traefik_dashboard_enable %}
[entryPoints.traefik]
  address = ":{{ traefik_dashboard_entrypoint_port }}"

[http.routers.my-api]
  rule="PathPrefix(`/api`) || PathPrefix(`/dashboard`)"
  service="api@internal"
{% if traefik_dashboard_basicauth_enable %}
  middlewares=["apiauth"]
{% endif %}
{% endif %}

{% if traefik_dashboard_basicauth_enable %}
[http.middlewares.apiauth.basicAuth]
  users = [{% for htpasswd in traefik_dashboard_basicauth_users %}"{{ htpasswd }}"{{ "," if not loop.last else "" }}{% endfor %}]
{% endif %}

{% if traefik_entrypoint_http_redirect_to_https %}
[http.middlewares]
  [http.middlewares.redirect.redirectScheme]
    scheme = "https"
{% endif %}

[retry]

{% if traefik_dashboard_enable %}
[api]
{% if not traefik_dashboard_basicauth_enable %}
  insecure = true
{% endif %}
  dashboard = true
{% endif %}

[providers]
  [providers.file]
    directory = "/conf.d"
    watch = true

{% if traefik_docker_enable %}
  [providers.docker]
    endpoint = "unix:///var/run/docker.sock"
    watch = true
    exposedByDefault = {{ traefik_docker_expose_by_default | lower }}
{% if traefik_use_swarm and traefik_swarm_mode %}
    swarmMode = true
{% endif %}
{% endif %}

{% if traefik_consul_enable %}
  [providers.consul]
    endpoint = "{{ traefik_consul_endpoint }}"
    watch = {{ traefik_consul_watch | lower }}
    prefix = "{{ traefik_consul_prefix }}"
{% endif %}

{% if traefik_acme_enable %}
[certificatesResolvers.sample.acme]
  email = "{{ traefik_acme_email }}"
  storage = "acme.json"
{% if traefik_acme_use_staging_ca %}
  caServer = "https://acme-staging-v02.api.letsencrypt.org/directory"
{% endif %}
{%if traefik_acme_use_tls_challenge %}
  [certificatesResolvers.sample.acme.tlsChallenge]
{% else %}
  [certificatesResolvers.sample.acme.httpChallenge]
  entryPoint = "web"
{% endif %}
{% endif %}

